<div style="display: flex; justify-content: center">
  <div *ngIf="!optionSelected">
    <button mat-button color="primary" (click)="optionPicked(true)">
      Login
    </button>
    /
    <button mat-button color="primary" (click)="optionPicked(false)">
      Sign up
    </button>
  </div>

  <div *ngIf="optionSelected">
    <div *ngIf="login; else signUp">
      <button mat-button color="primary" (click)="optionPicked(false)">
        Sign up
      </button>
    </div>
    <ng-template #signUp>
      <button mat-button color="primary" (click)="optionPicked(true)">
        Login
      </button>
    </ng-template>
  </div>
</div>
